# Empty CSS file for your own CSS

.custom {
    width: 100px !important;
}

.hiddenRow {
    padding: 0 !important;
}

.error {
  border-color: red;
}

.warning {
  border-color: yellow;
}

/* ---- perfil de usuario -----*/

/* ancho de casilla */
.casilla .input-group-addon
{
	width: 100px;
	text-align: left;
}

