<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Perfil de Usuario</title>

    <meta name="description" content="Perfil de Usuario">
    <meta name="author" content="Luis Mata, José Slon, Michael Quirós, Ricardo Aguilar, Brandon Sardí">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/app.js"></script>

    <script>
		function abrir(url) {
		open(url,'','top=300,left=300,width=426,height=266') ;
		}
	</script>
</head>


<body ng-app="formApp">

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

        <H3> Perfil de Usuario</H3>

        <form name="formulario_UP" role="form" ng-controller="MainCtrl">

        <div class="form-group">
            <label for="GRE_Q1">
                Información
                <a href="#" data-toggle="tooltip" data-placement="top" title="Ayuda al Usuario"><img src="images/question_icon.png" style="width:20px;height:20px;"></a>
            </label>

            <div class="input-group col-md-3 has-success" ng-class="{ 'has-error': !formulario_UP.nombre.$pristine && formulario_UP.nombre.$error.required}">
                    <div class="input-group-addon">
                    Nombre &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <input  type="text" class="form-control"
                            name="nombre"
                            ng-model="formData.nombre" required>
            </div>
            <span ng-show="!formulario_UP.nombre.$pristine && formulario_UP.nombre.$error.required" class="help-block">Ingrese su nombre</span>
        </div>

        <div class="form-group">
            <div class="input-group col-md-3 has-success" ng-class="{ 'has-error': !formulario_UP.correo.$pristine && formulario_UP.correo.$error.required}">
                    <div class="input-group-addon">Correo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <input type="text" class="form-control"
                    name="correo"
                    ng-model="formData.correo" required>
            </div>
            <span ng-show="!formulario_UP.correo.$pristine && formulario_UP.correo.$error.required" class="help-block">Ingrese su correo</span>
            <span ng-show="!formulario_UP.correo.$pristine && formulario_UP.correo.$error.email" class="help-block">Ingrese su correo correctamente</span>
        </div>

        <div class="form-group">
            <div class="input-group col-md-3 has-success" ng-class="{ 'has-error': !formulario_UP.universidad.$pristine && formulario_UP.universidad.$error.required }">
                    <div class="input-group-addon">Universidad</div>
                    <input  type="text" class="form-control"
                            name="universidad"
                            ng-model="formData.universidad" required>
            </div>
            <span ng-show="!formulario_UP.universidad.$pristine && formulario_UP.universidad.$error.required">Ingrese la universidad</span>
        </div>

        <div class="form-group">
            <div class="input-group col-md-3 has-success">
                    <div class="input-group-addon">Profesión &nbsp;&nbsp;&nbsp;</div>
                    <input type="text" class="form-control"
                    name="profesion" ng-model="formData.profesion" >
            </div>
        </div>

        <div class="form-group">
            <div class="input-group col-md-3 has-success">
                    <div class="input-group-addon">Puesto &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <input type="text" class="form-control"
                     name="puesto" ng-model="formData.puesto">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group col-md-3 has-success" ng-class="{ 'has-error': !formulario_UP.telefono.$pristine && formulario_UP.telefono.$error.required }">
                    <div class="input-group-addon">Teléfono &nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <input  type="te" class="form-control"
                            name="telefono" ng-model="formData.telefono" required>
            </div>
              <span ng-show="!formulario_UP.telefono.$pristine && formulario_UP.telefono.$error.required">Ingrese su número de teléfono</span>
        </div>

        <div class="form-group">
            <div class="input-group col-md-3 has-success">
                    <a href="javascript:abrir('cambiar_password.html')">Cambiar Contraseña</a>
            </div>
        </div>

        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-success btn-block" ng-click="submitForm(formData)" ng-disabled="formulario_UP.$invalid">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Guardar Cambios
            </button>
        </div>

        </Form>
        <!--<br>
        Form content:
        {{formData}}
      </br>-->
        </div>
    </div>
    </div>
</body>
</html>
