<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../index.css">
  	<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="RH_ACH.js"></script>
    <script type="text/javascript">
    function updateTextInput(val) {
      document.getElementById('ValPlanAhorro').value=val;
    }
  </script>
  <script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});
</script>
    <title>Formulario Recurso hidrico: Agua para consumo humano</title>
</head>
<body ng-app= "RH_ACH" name= "Formulario" ng-controller="RH_ACH_Controller">
    <H1> <span>Recurso Hídrico:</span> Agua para consumo Humano</H1> <!--#42775e-->
    <Form>
        <Span>Consumo de Agua per capita</Span>
        <img src="../images/question_icon.png" alt="Pregunta" data-toggle="tooltip"
        title="Algun texto de ayuda al usuario"style="width:20px;height:20px;">
        <ul>
            <li>
                 <input type="number" min="0">m<sup>3</sup>/año/persona
            </li>
            <li>
                <input id="NDAguaPerCapita" type="checkbox"> N/D
            </li>
        </ul>
        <Span>Inventario Fuentes de Agua</Span>
        <img src="../images/question_icon.png" alt="Pregunta" data-toggle="tooltip"
        title="Algun texto de ayuda al usuario"style="width:20px;height:20px;">
           <ul>
                <li>
                     <input type="number" min="0" max="10000"> # Pozos
                </li>
                <li>
                    <input id="NDPozos" type="checkbox"> N/D
                </li>
                <li>
                    <input id="NAPozos" type="checkbox"> N/A
                </li>
            </ul>
                   <ul>
                <li>
                     <input type="number" min="0" max="10000"> # Nacientes
                </li>
                <li>
                    <input id="NDNaciente" type="checkbox"> N/D
                </li>
                <li>
                    <input id="NANaciente" type="checkbox"> N/A
                </li>
            </ul>
                   <ul>
                <li>
                     <input type="number" min="0" max="10000"> # Ríos
                </li>
                <li>
                    <input id="NDRios" type="checkbox"> N/D
                </li>
                <li>
                    <input id="NARios" type="checkbox"> N/A
                </li>
            </ul>
        <ul>
                <li>
                     <input type="number" min="0" max="10000"> # Hidrómetros
                </li>
                <li>
                    <input id="NDHidrometros" type="checkbox"> N/D
                </li>
                <li>
                    <input id="NAHidrometros" type="checkbox"> N/A
                </li>
            </ul>
       <Span>Registros de Consumo de Agua</Span>
       <img src="../images/question_icon.png" alt="Pregunta" data-toggle="tooltip"
       title="Algun texto de ayuda al usuario"style="width:20px;height:20px;">
            <ul>
                <li>
                     <input type="number" min="0">m<sup>3</sup>/año
                </li>
                <li>
                    <input id="NDRegConsumoAgua" type="checkbox"> N/D
                </li>
            </ul>
        <ul class="preguntas">
            <li>
                        <Span>¿Se realizan análisis de calidad de agua?</Span>
                        <img src="../images/question_icon.png" alt="Pregunta" data-toggle="tooltip"
                        title="Algun texto de ayuda al usuario"style="width:20px;height:20px;">
                        <br>
                        <input type ="radio" name="AnasilisCalidad" value="Si"> Si
                        <input type ="radio" name="AnasilisCalidad" value="No"> No
                        <input type ="radio" name="AnasilisCalidad" value="ND"> N/D
            </li>
            <li>
                    <Span>¿Poseen plan de ahorro de agua?</Span>
                    <img src="../images/question_icon.png" alt="Pregunta" data-toggle="tooltip"
                    title="Algun texto de ayuda al usuario"style="width:20px;height:20px;">
                    <br>
                    <input  id="PlanAhorro_Si" type ="radio" name="PlanAhorro" ng-model="PlanAhorro" value="1"> Si
                    <input  id="PlanAhorro_No" type ="radio" name="PlanAhorro" ng-model="PlanAhorro" value="0"> No
                    <ul>
                      <li ng-show="PlanAhorro == 1">
                        <input type="text"  name="ValPlanAhorro"  value="">% de reduccion</input>
                      </li>
                    </ul>
                    <input type ="radio" name="PlanAhorro" value="ND"> N/D
                    <input type ="radio" name="PlanAhorro" value="NA"> N/A
            </li>
            <li>
                        <Span>¿Poseen plan de manejo de cuerpos de agua?</Span>
                        <img src="../images/question_icon.png" alt="Pregunta" data-toggle="tooltip"
                        title="Algun texto de ayuda al usuario"style="width:20px;height:20px;">
                        <br>
                        <input type ="radio" name="ManejoCuerpos" value="Si"> Si
                        <input type ="radio" name="ManejoCuerpos" value="No"> No
                        <input type ="radio" name="ManejoCuerpos" value="ND"> N/D
                        <input type ="radio" name="ManejoCuerpos" value="NA"> N/A
            </li>
            <li>
                    <Span>¿Poseen permisos de explotación de pozos?</Span>
                    <img src="../images/question_icon.png" alt="Pregunta" data-toggle="tooltip"
                    title="Algun texto de ayuda al usuario"style="width:20px;height:20px;">
                    <br>
                    <input type ="radio" name="PermisosExplotacion" value="Si"> Si
                    <input type ="radio" name="PermisosExplotacion" value="No"> No
                    <input type ="radio" name="PermisosExplotacion" value="ND"> N/D
                    <input type ="radio" name="PermisosExplotacion" value="NA"> N/A
            </li>
            <li>
                    <Span>¿Poseen plan de mantenimiento de sistemas de abastecimiento de agua?</Span>
                    <img src="../images/question_icon.png" alt="Pregunta" data-toggle="tooltip"
                    title="Algun texto de ayuda al usuario"style="width:20px;height:20px;">
                    <br>
                    <input type ="radio" name="SistemasAbastecimiento" value="Si"> Si
                    <input type ="radio" name="SistemasAbastecimiento" value="No"> No
                    <input type ="radio" name="SistemasAbastecimiento" value="ND"> N/D
            </li>
        </ul>

        <input type="submit" value="Enviar Formulario">
    </Form>
</body>
</html>
